In [ ]:
cd /content/drive/MyDrive/loan_prediction/dataset/

/content/drive/MyDrive/loan_prediction/dataset

In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [ ]:
df = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [ ]:
#Identify categorical and continuous variables
ID_col = ['Customer ID']
target_col = ["Loan Sanction Amount (USD)"]
cat_cols = ['Gender','Income Stability','Profession','Type of Employment','Location','Expense Type 1','Expense Type 2','Has Active Credit Card','Property Type','Property Location','Co-Applicant']

In [ ]:
#Imputing Missing values with mean for continuous variable
df['Property Age'].fillna(df['Property Age'].mean(), inplace=True)
df['Loan Sanction Amount (USD)'].fillna(df['Loan Sanction Amount (USD)'].mean(), inplace=True)
df['Income (USD)'].fillna(df['Income (USD)'].mean(), inplace=True)
df['Dependents'].fillna(df['Dependents'].mean(), inplace=True)
df['Credit Score'].fillna(df['Credit Score'].mean(), inplace=True)
df['Current Loan Expenses (USD)'].fillna(df['Current Loan Expenses (USD)'].mean(), inplace=True)
#Imputing Missing values with mode for categorical variables
df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)
df['Income Stability'].fillna(df['Income Stability'].mode()[0], inplace=True)
df['Property Location'].fillna(df['Property Location'].mode()[0], inplace=True)
df['Type of Employment'].fillna(df['Type of Employment'].mode()[0], inplace=True)
df['Has Active Credit Card'].fillna(df['Has Active Credit Card'].mode()[0], inplace=True)

In [ ]:
#Imputing Missing values with mean for continuous variable
test['Property Age'].fillna(test['Property Age'].mean(), inplace=True)
test['Income (USD)'].fillna(test['Income (USD)'].mean(), inplace=True)
test['Dependents'].fillna(test['Dependents'].mean(), inplace=True)
test['Credit Score'].fillna(test['Credit Score'].mean(), inplace=True)
test['Current Loan Expenses (USD)'].fillna(test['Current Loan Expenses (USD)'].mean(), inplace=True)
#Imputing Missing values with mode for categorical variables
test['Gender'].fillna(test['Gender'].mode()[0], inplace=True)
test['Income Stability'].fillna(test['Income Stability'].mode()[0], inplace=True)
test['Property Location'].fillna(test['Property Location'].mode()[0], inplace=True)
test['Type of Employment'].fillna(test['Type of Employment'].mode()[0], inplace=True)
test['Has Active Credit Card'].fillna(test['Has Active Credit Card'].mode()[0], inplace=True)

In [ ]:
from sklearn.compose import ColumnTransformer

In [ ]:
#Identify categorical and continuous variables
ID_col = ['Customer ID']
target_col = ["Loan Sanction Amount (USD)"]
cat_cols = ['Gender','Income Stability','Profession','Type of Employment','Location','Expense Type 1','Expense Type 2','Has Active Credit Card','Property Type','Property Location','Co-Applicant']
cat_col_one = [2, 5, 6, 7, 8, 11, 12, 15, 19]
idx = 0
# for var in cat_col_one:
#     number = LabelEncoder()
#     labs = OneHotEncoder(categories=[var])
#     df[cat_cols[idx]] = number.fit_transform(df[cat_cols[idx]])
#     # ct = ColumnTransformer([(cat_cols[var], OneHotEncoder(), [var])], remainder = 'passthrough')
#     # df = ct.fit_transform(df)
#     # df = labs.fit_transform(df).toarray()
#     test[cat_cols[idx]] = number.fit_transform(test[cat_cols[idx]])
#     # test = ct.fit_transform(test)
#     # test = labs.fit_transform(test).toarray()
#     idx += 1

for var in cat_cols:
    # print(idx)
    number = LabelEncoder()
    df[var] = number.fit_transform(df[var])
    # df = labs.fit_transform(df).toarray()
    test[var] = number.fit_transform(test[var])
    # test = labs.fit_transform(test).toarray()
    idx += 1

In [ ]:
# feature_col = [3, 4, 5, 9, 10, 14, 15, 18, 22]

In [ ]:
feature_col = [3, 4, 5, 9, 10, 14, 18, 22]

In [ ]:

X_train = df.iloc[:, feature_col].values
y_train = df.iloc[:, -1].values
X_test = test.iloc[:, feature_col].values

from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [ ]:
mean_ = np.median(y_pred)

In [ ]:
for i in range(len(y_pred)):
  if y_pred[i] < 0:
    y_pred[i] = mean_#abs(y_pred[i])

In [ ]:
test[target_col] = y_pred

In [ ]:
test_res = test.iloc[:, [0,-1]]

In [ ]:
test_res

      Customer ID  Loan Sanction Amount (USD)
0         C-26247                84009.123086
1         C-35067                71739.726794
2         C-34590                76727.106817
3         C-16668                65157.704272
4         C-12196                56577.020839
...           ...                         ...
19995      C-9076                76868.996427
19996     C-17587                20348.987955
19997     C-46479                39758.960474
19998      C-3099                73833.409760
19999     C-43482                76962.840975

[20000 rows x 2 columns]

In [ ]:
test_res.to_csv('out.csv', index=False) 
res  = pd.read_csv('out.csv')
res

      Customer ID  Loan Sanction Amount (USD)
0         C-26247                84009.123086
1         C-35067                71739.726794
2         C-34590                76727.106817
3         C-16668                65157.704272
4         C-12196                56577.020839
...           ...                         ...
19995      C-9076                76868.996427
19996     C-17587                20348.987955
19997     C-46479                39758.960474
19998      C-3099                73833.409760
19999     C-43482                76962.840975

[20000 rows x 2 columns]

# Using One Hot Encoding

In [ ]:
for var in cat_cols:
  onehotencoder = OneHotEncoder()
  X = onehotencoder.fit_transform(df[var].values.reshape(-1,1)).toarray()
  dfOneHot = pd.DataFrame(X, columns = [var+str(int(i)) for i in range(len(df[var].unique()))]) 
  df = pd.concat([df, dfOneHot], axis=1)
  df= df.drop([var], axis=1) 
print(df.head())

  Customer ID               Name  ...  Co-Applicant1  Co-Applicant2
0     C-36995   Frederica Shealy  ...            0.0            1.0
1     C-33999  America Calderone  ...            0.0            1.0
2      C-3770      Rosetta Verne  ...            1.0            0.0
3     C-26480         Zoe Chitty  ...            0.0            1.0
4     C-23459       Afton Venema  ...            0.0            1.0

[5 rows x 63 columns]

In [ ]:
for var in cat_cols:
  onehotencoder = OneHotEncoder()
  X = onehotencoder.fit_transform(test[var].values.reshape(-1,1)).toarray()
  testOneHot = pd.DataFrame(X, columns = [var+str(int(i)) for i in range(len(test[var].unique()))]) 
  test = pd.concat([test, testOneHot], axis=1)
  test= test.drop([var], axis=1) 
  if var == 'Profession':
    test['Profession7'] = 0.0
print(test.head())

  Customer ID              Name  ...  Co-Applicant1  Co-Applicant2
0     C-26247  Tandra Olszewski  ...            1.0            0.0
1     C-35067     Jeannette Cha  ...            1.0            0.0
2     C-34590      Keva Godfrey  ...            1.0            0.0
3     C-16668      Elva Sackett  ...            0.0            0.0
4     C-12196    Sade Constable  ...            1.0            0.0

[5 rows x 62 columns]

In [ ]:
# s = np.union1d(df.columns, test.columns)
# i = np.intersect1d(df.columns, test.columns)
# s = set(s)
# i = set(i)
d1 = set(df.columns)
t1 = set(test.columns)
d1.difference(t1)

{'Loan Sanction Amount (USD)'}

In [ ]:

# test[test['Property Price'] == '?']
test['Property Price'] = test['Property Price'].replace(['?'], 0)
test['Property Price'] = test['Property Price'].astype(float)
test['Property Price'] = test['Property Price'].replace(['?'], test['Property Price'].mean())

In [ ]:
df.dtypes

Customer ID                     object
Name                            object
Gender                           int64
Age                              int64
Income (USD)                   float64
Income Stability                 int64
Profession                       int64
Type of Employment               int64
Location                         int64
Loan Amount Request (USD)      float64
Current Loan Expenses (USD)    float64
Expense Type 1                   int64
Expense Type 2                   int64
Dependents                     float64
Credit Score                   float64
No. of Defaults                  int64
Has Active Credit Card           int64
Property ID                      int64
Property Age                   float64
Property Type                    int64
Property Location                int64
Co-Applicant                     int64
Property Price                 float64
Loan Sanction Amount (USD)     float64
dtype: object

In [ ]:
df

      Customer ID  ... Loan Sanction Amount (USD)
0         C-36995  ...                   54607.18
1         C-33999  ...                   37469.98
2          C-3770  ...                   36474.43
3         C-26480  ...                   56040.54
4         C-23459  ...                   74008.28
...           ...  ...                        ...
29995     C-43723  ...                   68992.11
29996     C-32511  ...                   46616.60
29997      C-5192  ...                   61057.56
29998     C-12172  ...                   99766.87
29999     C-33003  ...                  117217.90

[30000 rows x 24 columns]

In [ ]:
train_res = [12]

In [ ]:
train_test_except = [0, 1]

In [ ]:
df = df[['Customer ID', 'Name', 'Age', 'Income (USD)', 'Loan Amount Request (USD)', 'Current Loan Expenses (USD)', 'Dependents', 'Credit Score', 'No. of Defaults', 'Property ID', 'Property Age', 'Property Price', 'Gender0', 'Gender1', 'Income Stability0', 'Income Stability1', 'Profession0', 'Profession1', 'Profession2', 'Profession3', 'Profession4', 'Profession5', 'Profession6', 'Profession7', 'Type of Employment0', 'Type of Employment1', 'Type of Employment2', 'Type of Employment3', 'Type of Employment4', 'Type of Employment5', 'Type of Employment6', 'Type of Employment7', 'Type of Employment8', 'Type of Employment9', 'Type of Employment10', 'Type of Employment11', 'Type of Employment12', 'Type of Employment13', 'Type of Employment14', 'Type of Employment15', 'Type of Employment16', 'Type of Employment17', 'Location0', 'Location1', 'Location2', 'Expense Type 10', 'Expense Type 11', 'Expense Type 20', 'Expense Type 21', 'Has Active Credit Card0', 'Has Active Credit Card1', 'Has Active Credit Card2', 'Property Type0', 'Property Type1', 'Property Type2', 'Property Type3', 'Property Location0', 'Property Location1', 'Property Location2', 'Co-Applicant0', 'Co-Applicant1', 'Co-Applicant2', 'Loan Sanction Amount (USD)']]

In [ ]:
X_train = df.iloc[:, 2:-1].values
y_train = df.iloc[:, -1].values
X_test = test.iloc[:, 2:].values

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

# Poly Reg

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
# lin_reg = LinearRegression()
# lin_reg.fit(X_train, y_train)
poly_reg = PolynomialFeatures(degree=2)
X_poly = poly_reg.fit_transform(X_train)
lin_reg_2 = LinearRegression()
lin_reg_2.fit(X_poly, y_train)
test_res_poly = lin_reg_2.predict(poly_reg.fit_transform(X_test))

# SVM

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)
sc_y = StandardScaler()
y_train = sc_y.fit_transform(y_train.reshape(-1,1))

In [ ]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, y_train.reshape(30000, ))
y_pred = model.predict(X_test)

In [ ]:
y_pred_is = sc_y.inverse_transform(y_pred)

In [ ]:
y_pred_is

array([-5.92851161e+09, -5.92559195e+09, -5.94869156e+09, ...,
       -5.94208814e+09, -5.91842327e+09, -6.00456340e+09])

In [ ]:
for i in range(len(test_res_poly)):
  if test_res_poly[i] <= 0:
    test_res_poly[i] = 0

In [ ]:
test[target_col] = test_res_poly
test_res_poly_df = test.iloc[:, [0,-1]]
# test_res_poly_df['Loan Sanction Amount (USD)'] = test_res_poly

In [ ]:
test_res_poly

array([87418.7044967 , 68419.35847336, 47159.3388993 , ...,
        3587.70392258, 58122.53289673, 69833.42608412])

In [ ]:
test_res_poly_df.to_csv('out_poly.csv', index=False)

In [ ]:
res  = pd.read_csv('out_poly.csv')
res

      Customer ID  Loan Sanction Amount (USD)
0         C-26247                87418.704497
1         C-35067                68419.358473
2         C-34590                47159.338899
3         C-16668                63013.686527
4         C-12196                66022.771280
...           ...                         ...
19995      C-9076                70809.148984
19996     C-17587                26759.594207
19997     C-46479                 3587.703923
19998      C-3099                58122.532897
19999     C-43482                69833.426084

[20000 rows x 2 columns]

In [ ]:
test[target_col] = y_pred

In [ ]:
test_res = test.iloc[:, [0,-1]]

In [ ]:
test_res

      Customer ID  Loan Sanction Amount (USD)
0         C-26247              -123649.967584
1         C-35067              -123589.073207
2         C-34590              -124070.854043
3         C-16668              -131186.479319
4         C-12196              -131400.957453
...           ...                         ...
19995      C-9076              -123871.130308
19996     C-17587              -123821.616152
19997     C-46479              -123933.128825
19998      C-3099              -123439.558607
19999     C-43482              -125236.154347

[20000 rows x 2 columns]

In [ ]:
test_res.to_csv('out.csv', index=False) 
res  = pd.read_csv('out.csv')
res

In [ ]:
res  = pd.read_csv('out.csv')

In [ ]:
res

      Customer ID  Loan Sanction Amount (USD)
0         C-26247                3.018537e+05
1         C-35067                1.012198e+06
2         C-34590                1.011637e+06
3         C-16668               -7.414275e+05
4         C-12196               -9.841180e+05
...           ...                         ...
19995      C-9076                2.942496e+05
19996     C-17587                1.013387e+06
19997     C-46479                1.253754e+06
19998      C-3099                1.011539e+06
19999     C-43482                1.247604e+06

[20000 rows x 2 columns]